@font-face {
    font-family: 'Raleway';
    src: url('../../assets/fonts/Raleway/Raleway-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    font-weight: 700;
    src: url('../../assets/fonts/Raleway/Raleway-Bold.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    src: url('../../assets/fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Lato';
    font-weight: 700;
    src: url('../../assets/fonts/Lato/Lato-Bold.ttf') format('truetype');
    font-display: swap;
}