@import './styles/global.scss';

.container {
  width: 100vw;
  margin-top: 60px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @include tablet {
    margin-top: 75px;
  }

  @include desktop {
    margin-top: 100px;
  }
}

.form {
  display: flex;
  flex-direction: column;

  &__label {
    font-size: 18px;
    font-weight: 700;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  &__input {
    resize: none;
    width: 80vw;
    height: 40vw;
    padding: 10px;
    margin-bottom: 10px;
    outline: none;
    font-family: 'Lato';

    @include tablet-large {
      width: 70vw;
      height: 30vw;
    }

    @include desktop {
      width: 50vw;
      height: 20vw;
      font-size: 15px;
    }
  }

  &__button {
    width: 25%;
    margin-left: 75%;
    background-color: #3cb4b4;
    border: none;
    border-radius: 2px;
    height: 30px;
    font-family: 'Raleway';
    font-weight: 700;

    @include tablet-large {
      width: 15%;
      margin-left: 85%;
    }
  }
}

.cards {
  font-family: 'Lato';

  &__title {
    margin: 10px;
  }

  &__card {
    width: 80vw;
    background-color: #D3D3D3;
    margin: 10px;
    padding: 15px;
    border-radius: 2px;

    @include tablet-large {
      width: 70vw;
    }

    @include desktop {
      width: 50vw;
    }

    &-prompt {
      margin: 5px;
      margin-bottom: 10px;

      &-title {
        font-weight: 700;
      }
    }

    &-response {
      margin: 5px;

      &-title {
        font-weight: 700;
      }
    }
  }
}